
body {
    background-color: lightblue;
    font-family: bebas neue;
}

form {
    margin-top: 50px;
    margin-left: 50px;
}

select {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 30px 40px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
